/*
color-palette: ---------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
#cca2fa lavender
#91d5e4 lighter blue
#d079a2 and rgba(208, 121, 166, 0.3) pink
#759e16 green
#ffcd04 corn yellow
#6b4691 and rgba(107, 70, 145, 0.6) purple
#f5ffde light yellow-green
#3a3a36 and rgba(58, 58, 54, 0.6) gray mud-brown
#e0620d bengal orange
#rgba(117, 158, 22, 0.05) off-white
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
*/

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

#text {
	font-size: 2.1rem;
}

input[value='Precalculus'] {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

input[value='Precalculus']:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

input[value='Precalculus']:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

input[value='Calculus'] {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

input[value='Calculus']:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

input[value='Calculus']:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

input[value='MATH 1001'] {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

input[value='MATH 1001']:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

input[value='MATH 1001']:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

input[value='L Trominoes'] {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

input[value='L Trominoes']:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

input[value='L Trominoes']:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

input[value='Peterson Graphs'] {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

input[value='Peterson Graphs']:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

input[value='Peterson Graphs']:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

input[value='Metric Topology'] {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

input[value='Metric Topology']:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

input[value='Metric Topology']:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

li.owner {
	display: table-cell;
	width: 25%;
	vertical-align: bottom;
	text-align: right;
	padding: .5rem 2rem;
}

#footer {
	padding: 1rem .5rem;
	margin: 0 auto;
	text-align: left;
	border-top: 8px double rgba(58, 58, 54, 0.3);
	margin-top: 2rem; 
}

