/*
color-palette: ---------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
#cca2fa lavender
#91d5e4 lighter blue
#d079a2 and rgba(208, 121, 166, 0.3) pink
#759e16 green
#ffcd04 corn yellow
#9977bd purple
#f5ffde light yellow-green
#3a3a36 gray mud-brown
#e0620d bengal orange
rgba(117, 158, 22, 0.05) off-white
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
*/

* {
	box-sizing: border-box;
}

#text {
	font-size: 2.1rem;
}

li.reference {
	display: inline;
	padding: .5rem 2rem;
}

li.owner {
	display: table-cell;
	width: 25%;
	vertical-align: bottom;
	text-align: right;
	padding: .5rem 2rem;
}

li.subview {
	padding: .5rem 2rem;
	display: block;
}

#content {
	overflow: auto;
	height: 100%;
}

#topic {
	padding: 1rem .5rem;
	margin: 0 auto;
	clear: left;
}

li.topdown_list {
	display: block;
}

#board_size {
	padding: 1rem .5rem;
	margin: 0 auto;
	clear: left;
}

#size_n {
	background-color: rgba(208, 121, 166, 0.3);
	color: #000000;
	border-radius: 1px;
	padding: 1px;
	min-height: 18px;
	min-width: 70px;
	font-size: 18px;
	font-weight: bold;
}

#size_n:hover {
	background-color: rgba(117, 158, 22, 0.05);
	color: #000000;
	transition: 0.7s;
}

#size_n:active {
	background-color: rgba(208, 121, 166, 0.3);
	color: #000000;
	transition: 0.1s;
}

#color_buttons {
	padding: 1rem .5rem;
	margin: 0 auto;
	clear: left;
}

#none {
	background-color: rgba(117, 158, 22, 0.05);
	color: #000000;
	border-radius: 10px;
	padding: 5px;
	min-height: 23px;
	min-width: 100px;
	font-size: 20px;
	font-weight: bold;
}

#none:hover {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.7s;
}

#none:active {
	background-color: rgba(117, 158, 22, 0.05);
	color: #000000;
	transition: 0.1s;
}

#green {
	background-color: #759e16;
	color: #000000;
	border-radius: 10px;
	padding: 1px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

#green:hover {
	background-color: #3a3a36;
	color: #ffcd04; 
	transition: 0.7s;
}

#green:active {
	background-color: #759e16;
	color: #000000;
	transition: 0.1s;
}

#purple {
	background-color: #9977bd;
	color: #000000;
	border-radius: 10px;
	padding: 1px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

#purple:hover {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.7s;
}

#purple:active {
	background-color: #9977bd;
	color: #fcfcfc;
	transition: 0.1s;
}

#yellow {
	background-color: #ffcd04;
	color: #000000;
	border-radius: 10px;
	padding: 1px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

#yellow:hover {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.7s;
}

#yellow:active {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.1s;
}

#orange {
	background-color: #e0620d;
	color: #000000;
	border-radius: 10px;
	padding: 1px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

#orange:hover {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.7s;
}

#orange:active {
	background-color: #e0620d;
	color: #000000;
	transition: 0.1s;
}

#blue {
	background-color: #91d5e4;
	color: #000000;
	border-radius: 10px;
	padding: 1px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

#blue:hover {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.7s;
}

#blue:active {
	background-color: #91d5e4;
	color: #000000;
	transition: 0.1s;
}

#brown {
	background-color: #3a3a36;
	color: #ffcd04;
	border-radius: 10px;
	padding: 1px;
	min-height: 23px;
	min-width: 100px;
	font-size: 25px;
	font-weight: bold;
}

#brown:hover {
	background-color: #ffcd04;
	color: #000000;
	transition: 0.7s;
}

#brown:active {
	background-color: #3a3a36;
	color: #ffcd04;
	transition: 0.1s;
}

#print_button {
	padding: 1rem .5rem;
	margin: 0 auto;
	clear: left;
}

#svg {
	background-color: rgba(208, 121, 166, 0.3);
	color: #000000;
	border-radius: 1px;
	padding: 1px;
	min-height: 18px;
	min-width: 70px;
	font-size: 18px;
	font-weight: bold;
}

#svg:hover {
	background-color: rgba(117, 158, 22, 0.05);
	color: #000000;
	transition: 0.7s;
}

#svg:active {
	background-color: rgba(208, 121, 166, 0.3);
	color: #000000;
	transition: 0.1s;
}

#footer {
	padding: 1rem .5rem;
	margin: 0 auto;
	text-align: left;
	border-top: 8px double rgba(58, 58, 54, 0.3);
	margin-top: 2rem; 
}

@media screen and (min-width: 15rem) {

	.image {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}

}
