/*
color-palette: ---------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
#cca2fa lavender
#91d5e4 lighter blue
#d079a2 and rgba(208, 121, 166, 0.3) pink
#759e16 green
#ffcd04 corn yellow
#9977bd purple
#f5ffde light yellow-green
#3a3a36 gray mud-brown
#e0620d bengal orange
rgba(117, 158, 22, 0.05) off-white
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
*/

* {
	box-sizing: border-box;
}

#text {
	font-size: 2.1rem;
}

li.reference {
	display: inline;
	padding: .5rem 2rem;
}

li.owner {
	display: table-cell;
	width: 25%;
	vertical-align: bottom;
	text-align: right;
	padding: .5rem 2rem;
}

#content {
	overflow: auto;
	height: 100%;
}

#topic {
	padding: 1rem .5rem;
	margin: 0 auto;
	clear: left;
}

.field {
	width: 100px;
}

#footer {
	padding: 1rem .5rem;
	margin: 0 auto;
	text-align: left;
	border-top: 8px double rgba(58, 58, 54, 0.3);
	margin-top: 2rem; 
}



