{% extends 'base.html' %}
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel='stylesheet' href='{{ url_for("static", filename="styles/l_trominoes.css") }}'>
    {%- endblock styles %}
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {%- endblock head %}

    {% block app_content %}
    	<div id='content'>
		<div id='topic'>
			<h1>8x8 L-Trominoes Board Solutions</h1>
		</div>
	</div>
	<div id='footer'>
		<p id="text">Authors whose works helped us develop this content:</p>
		<ul>
			<li id="text" class="reference"><a href="https://blog.miguelgrinberg.com/">Miguel Grinberg</a></li>
			<li id="text" class="owner">Created by Jonathan Parker</li>
		</ul>
	</div>
    {% endblock %}

