
	<table>
		<tr valign='top'>
			<td><img src='{{ post.author.avatar(36) }}'></td>

			<!-- The User model attribute, "author," not only relates 
		each post made by the user back to the user's username, it also 
		fashions to each user post that user's corresponding avatar; 
		the same avatar that is coded within the User model for that 
		user. The variable post.author.avatar(36) is precisely the code
		within this template that accomplishes this task for us. -->

			<td>
				<a href='{{ 
					url_for("main.user", username=post.author.username) 
					}}'>
					{{ post.author.username }} 
				</a>
				said {{ moment(post.timestamp).fromNow() }}:
				<br>
				{{ post.body }}

				<!-- Using the User model attribute, "author," the 
			post.author.username variable points a post back to the 
			username field of the User model for the user who wrote 
			the post. This username field is accessed via the user
			variable in the user function within the routes.py 
			file. The user variable serves as a value for the "author" 
			key for members of the "posts" list of dictionaries 
			located within the user function of the routes.py file. 
			The post.body variable within this template displays each 
			"body" key's value in the respective (key, value) ordered 
			pair of the "posts" list of dictionaries within the user 
			function of the routes.py file. -->
				
			</td>
		</tr>
	</table>
