{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
		{{ title }} - Massive Discipline
	{% else %}
		Welcome to Massive Discipline
	{% endif %}
{% endblock %}

{% block navbar %}
    <nav class='navbar navbar-default'>

        <div class='container'>

            <div class='navbar-header'>

                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>

                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>

                </button>

                <a class='navbar-brand' href='{{ url_for("main.index") }}'>Massive Discipline</a>

            </div>

            <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>

                <ul class='nav navbar-nav'>
                    <li><a href='{{ url_for("main.index") }}'>{{ _('Home') }}</a></li>
                    <li><a href='{{ url_for("main.explore") }}'>{{ _('Explore') }}</a></li>
                </ul>

				 <ul class='nav navbar-nav navbar-right'>

                    {% if current_user.is_anonymous %}
                    <li><a href='{{ url_for("auth.login") }}'>{{ _('Login') }}</a></li>

					{% else %}
					<li><a href='{{ url_for("main.user", username=current_user.username) }}'>{{ _('Profile') }}</a></li>
                    <li><a href='{{ url_for("auth.logout") }}'>{{ _('Logout') }}</a></li>
					<li><a href='{{ url_for("main.score") }}'>{{ _('Score') }}</a></li>

                    {% endif %}

				</ul>

            </div>

        </div>

    </nav>
{% endblock %}

{% block content %}
    <div class='container'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}
            <div class='alert alert-info' role='alert'>{{ message }}</div>
            {% endfor %}

        {% endif %}

        {% endwith %}

        {# app content needs to be provided in the app_content block #}

        {% block app_content %}{% endblock %}

    </div>
{% endblock %}


<!-- The {{ super() }} line of code preserves, within this block, the contents of this base file --> 
{% block scripts %}
	{{ super() }} 
	{{ moment.include_moment() }}
	{{ moment.lang(g.locale) }}
{% endblock %}



<!-- Comment Block Below this line -->
{# 
Notes for later: from commit cb633f7

<head>
		This section of the code picks up either the title passed 
	to the render_template function in the routes.py file or (else)
	the title passed in the else clause of this section of the code.

		{% if title %}
		<title>{{ title }} - MATH</title>
		{% else %}
		<title>MassiveDiscipline - MATH</title>
		{% endif %}

	</head>

	<body>
		The div tag section of the code provides the user with 
	links to the various pages of the website. The url_for() function 
	takes as argument the name of the view function, in the routes.py 
	file, that corresponds to the argument, and the value of
	this function call is the argument for the decorator of the view
	function. 

		<div>
			<a href='{{ url_for("index") }}'>Home</a>
			<a href='{{ url_for("explore") }}'>Explore</a>
			<a href='{{ url_for("score") }}'>Score</a>
			{% if current_user.is_anonymous %}
			<a href='{{ url_for("login") }}'>Login</a>
			{% else %}
			<a href='{{ 
				url_for("user",username=current_user.username)
				}}'>Profile</a>
			<a href='{{ url_for("logout") }}'>Logout</a>
			{% endif %}
		</div>

		<hr> This is a horizontal rule 

		The following code takes the argument of a flash() 
	function call within function definitions of the routes.py file
	and stores it in the messages variable stated below. 

		{% with messages = get_flashed_messages() %}

		{% if messages %}
		<u1>
			{% for message in messages %}
			<li>
				{{ message }}
			</li>
			{% endfor %}
		</u1>
		{% endif %}

		{% endwith %}

		{% block content %}{% endblock %}
			Here, we export a content block 
	</body>
#}
