<!doctype html>

<!-- This template will serve as the basic code present in every page
of the application. -->

<html>

	<head>
		<!-- This section of the code picks up either the title passed 
	to the render_template function in the routes.py file or (else)
	the title passed in the else clause of this section of the code.-->

		{% if title %}
		<title>{{ title }} - MATH</title>
		{% else %}
		<title>MassiveDiscipline - MATH</title>
		{% endif %}

	</head>

	<body>
		<div>
			<a href='{{ url_for("index") }}'>Home</a>
			<a href='{{ url_for("score") }}'>Score</a>
			{% if current_user.is_anonymous %}
			<a href='{{ url_for("login") }}'>Login</a>
			{% else %}
			<a href='{{ 
				url_for("user",username=current_user.username)
				}}'>Profile</a>
			<a href='{{ url_for("logout") }}'>Logout</a>
			{% endif %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<u1>
			{% for message in messages %}
			<li>
				{{ message }}
			</li>
			{% endfor %}
		</u1>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>

