<!doctype html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - MATH</title>
		{% else %}
		<title>MassiveDiscipline - MATH</title>
		{% endif %}
	</head>
	<body>
		<div>
			<a href='{{ url_for("index") }}'>Home</a>
			<a href='{{ url_for("score") }}'>Score</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<u1>
			{% for message in messages %}
			<li>
				{{ message }}
			</li>
			{% endfor %}
		</u1>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>

