{% extends 'base.html' %}

{% block content %}
	<h1>Welcome</h1>
	<h3>Choose which object you wish to work with</h3>
	<div> 
		<h2>Series of Numbers</h2>
		<a href='{{ url_for("geometric_series") }}'>
			Geometric Series
		</a><br>
	</div>
	<br>
	<div> 
		<h2>Transforms</h2>
		<h4>Polynomials</h4>
		<a href='{{ url_for("polynomial_degree_1_transform") }}'>
			Polynomial Degree 1
		</a><br>
		<a href='{{ url_for("polynomial_degree_2_transform") }}'>
			Polynomial Degree 2
		</a>
		<h4>Reciprocals</h4>
		<a href='{{ 
			url_for("reciprocal_degree_0_by_degree_1_transform") 
			}}'>
			Reciprocal Degree 0 by Degree 1
		</a><br>
		<h4>Radicals</h4>
		<a href='{{ 
			url_for("square_root_transform") 
			}}'>
			Square Root
		</a><br>
		<a href='{{ 
			url_for("cube_root_transform") 
			}}'>
			Cube Root
		</a><br>
	</div>
{% endblock %}

