{% extends 'base.html' %} <!-- This line loads the base.html code -->

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Welcome {{ current_user.username }}</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label='...'>
        <ul class='pager'>
            <li 
				class=
					'previous{% if not prev_url %} disabled{% endif %}'
			>
                <a href='{{ prev_url or "#" }}'>
                    <span aria-hidden='true'>&larr;</span> 
					{{ ('Newer posts') }}
                </a>
            </li>
            <li class='next{% if not next_url %} disabled{% endif %}'>
                <a href='{{ next_url or "#" }}'>
                    {{ ('Older posts') }} 
					<span aria-hidden='true'>&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

	<h3>Choose which object you wish to work with</h3>

	<div> 

		<h2>Series of Numbers</h2>

		<a href='{{ url_for("main.geometric_series") }}'>
			Geometric Series
		</a>

	</div>

	<br>

	<div> 

		<h2>Transforms</h2>

		<h4>Polynomials</h4>

		<a href='{{ url_for("main.polynomial_degree_1_transform") }}'>
			Polynomial Degree 1
		</a>

		<br>

		<a href='{{ url_for("main.polynomial_degree_2_transform") }}'>
			Polynomial Degree 2
		</a>

		<br>

		<a href='{{ url_for("main.polynomial_degree_3_transform") }}'>
			Polynomial Degree 3
		</a>

		<br>

		<h4>Absolute Value</h4>

		<a href='{{ url_for("main.absolute_value_transform" )}}'>
			Absolute Value
		</a>

		<h4>Reciprocals</h4>

		<a href='{{ 
			url_for("main.reciprocal_degree_0_by_degree_1_transform") 
			}}'>
			Reciprocal Degree 0 by Degree 1
		</a>

		<h4>Radicals</h4>

		<a href='{{ 
			url_for("main.square_root_transform") 
			}}'>
			Square Root
		</a>

		<br>

		<a href='{{ 
			url_for("main.cube_root_transform") 
			}}'>
			Cube Root
		</a>

		<h4>Exponentials</h4>

		<a href='{{ 
			url_for("main.general_exponential_transform") 
			}}'>
			General Exponential
		</a>

		<br>

		<a href='{{ 
			url_for("main.base_e_exponential_transform") 
			}}'>
			Base e Exponential
		</a>

		<h4>Logarithmics</h4>

		<a href='{{ 
			url_for("main.general_logarithmic_transform") 
			}}'>
			General Logarithmic
		</a>

		<br>

		<a href='{{ 
			url_for("main.base_e_logarithmic_transform") 
			}}'>
			Base e Logarithmic
		</a>

	</div>
{% endblock %}



<!-- Comment Block Below this line -->
{#
Notes for later: from commit e234425

This is the homepage of the application 

	<h1>Welcome, {{ current_user.username }}</h1>
	{% if form %}
	<form action='' method='post'>
		In the event that the if form statement is True, we access 
	the index page, in which we display our self user post form, so that
	the self user can write what they wish. 

		{{ form.hidden_tag() }}
		<p>
			{{ form.post.label }}<br>
			{{ form.post(cols=32, rows=4) }}<br>
			{% for error in form.post.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
	{% endif %}

	{% for post in posts %}
		This for statement references the post entries 
	corresponding to the relevant users within the database. Users are
	relevant according to the query conditions of the "posts" variable 
	within the "index" and "explore" viewfunctions of the routes.py 
	file. The conditions for the "index" posts limit the database query
	to only those users the self user is following, while the "explore"
	viewfunction extends the list of available posts to all users of
	the app. 

		{% include '_post.html' %}
	{% endfor %}

	{% if prev_url %}
	<a href='{{ prev_url }}'>Newer</a>
	{% endif %}

	{% if next_url %}
	<a href='{{ next_url }}'>Older</a>
	{% endif %}


#}
