{% extends 'base.html' %} <!-- This line loads the base.html code -->

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Welcome {{ current_user.username }}</h1>
    <h4>Choose a Study</h4>
    	<form action='' method='post'>
	    <div>
		<input type='submit' name='submit_button' value='Precalculus'>
		<input type='submit' name='submit_button' value='Calculus'>
		<input type='submit' name='submit_button' value='MATH 1001'>
		<input type='submit' name='submit_button' value='L Trominoes'>
	    </div>
	</form>
{% endblock %}



<!-- Comment Block Below this line -->
{#
Notes for later: from commit e234425

This is the homepage of the application 

	<h1>Welcome, {{ current_user.username }}</h1>
	{% if form %}
	<form action='' method='post'>
		In the event that the if form statement is True, we access 
	the index page, in which we display our self user post form, so that
	the self user can write what they wish. 

		{{ form.hidden_tag() }}
		<p>
			{{ form.post.label }}<br>
			{{ form.post(cols=32, rows=4) }}<br>
			{% for error in form.post.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
	{% endif %}

	{% for post in posts %}
		This for statement references the post entries 
	corresponding to the relevant users within the database. Users are
	relevant according to the query conditions of the "posts" variable 
	within the "index" and "explore" viewfunctions of the routes.py 
	file. The conditions for the "index" posts limit the database query
	to only those users the self user is following, while the "explore"
	viewfunction extends the list of available posts to all users of
	the app. 

		{% include '_post.html' %}
	{% endfor %}

	{% if prev_url %}
	<a href='{{ prev_url }}'>Newer</a>
	{% endif %}

	{% if next_url %}
	<a href='{{ next_url }}'>Older</a>
	{% endif %}


#}
