{% extends 'base.html' %} <!-- This line loads the base.html code -->

{% block content %}

	<h1>Sign In</h1>

	<!-- With the novalidate attribute, he form tag below does not 
validate the form data, and instead, allows flask to handle all form 
validation matters. The action="" will resolve to the webpage's 
address. The method="post" attribute will send data entered into the 
form to the server to be stored. This particular method is secure
storing no data into a browser URL, which does happen, in the format
of name/value pairs, with method="get" -->
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}
			<br>
			{{ form.username(size=32) }}
			<br>
			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}
			<br>
			{{ form.password(size=32) }}
			<br>
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<p>{{ form.submit() }}</p>
	</form>
	<p>New User? 
		<a href='{{ url_for("register") }}'>Click to Register</a>
	</p>
{% endblock %}


