{% extends 'base.html' %}

{% block content %}
	<h1>
		Plot A Graph of a Transformed Square Root Function
	</h1>
	<form action='' method='post' novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.horizontal_shift.label }}<br>
			{{ form.horizontal_shift(size=32) }}<br>
			{% for error in form.horizontal_shift.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.x_scalar.label }}<br>
			{{ form.x_scalar(size=32) }}<br>
			{% for error in form.x_scalar.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.x_reflection.label }}<br>
			{{ form.x_reflection(size=32) }}<br>
			{% for error in form.x_reflection.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.y_scalar.label }}<br>
			{{ form.y_scalar(size=32) }}<br>
			{% for error in form.y_scalar.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.vertical_shift.label }}<br>
			{{ form.vertical_shift(size=32) }}<br>
			{% for error in form.vertical_shift.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.submit() }}
		</p>
	</form>
{% endblock %}
